@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  padding:0px;
  margin:0px;
  background-color: black;
  color: white;
}

.title {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.js-display-outer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.js-display-outer canvas {
  border: 1px solid white;
  max-width: 512px;
  max-height: 512px;
}

.js-display-outer #color-picker {
  height: 32px;
  padding: 12px;
  font-size:24px;
  margin-left:12px;
  margin-bottom: 12px;
}

#colour-list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 300px;
}

#colour-list .colour {
  margin: 2px;
  position: relative;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background-colour:attr(colour);
}

#layer-list {
  width:64px;
  height: 512px;
  margin-right:12px;
  border: 1px solid white;
}

#layer-list canvas {
  width: 64px;
  height: 64px;
}
