@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  padding:0px;
  margin:0px;
  background-color: black;
  color: white;
}

.title {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.js-display-outer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
